#counter {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  background-color: #824eeb;
  opacity: 50%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
